* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
@keyframes rotate {
  from {
    --rotate: 0deg;
  }

  to {
    --rotate: 360deg;
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;

  .box {
    max-width: 350px;
    border: 0px solid #c8c6c610;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 0px rgb(28, 134, 20);
    gap: 10px;
    padding: 10px;
    border-radius: 30px;

    background: linear-gradient(to right, rgb(0, 0, 0)) padding-box,
      conic-gradient(from var(--rotate), #1c7189, #f81a19, #1c7189) border-box;
    animation: rotate 5s infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

.box:hover {
  animation-play-state: running;
  border: 10px solid transparent;
  box-shadow: 0 0 50px #192023;
  text-shadow: 0 0 15px #f81a19;
  color: #9ea398;
  font-weight: bolder;
}
